<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="center">
    <div class="glass form-box">

        <h2>🔐 Login</h2>

        <form method="POST">

            <input 
                type="email" 
                name="email" 
                placeholder="Enter Email" 
                required
            >

            <input 
                type="password" 
                name="password" 
                placeholder="Enter Password" 
                required
            >

            <button type="submit">Login</button>

        </form>

        <p style="margin-top:10px;">
            Don't have an account? 
            <a href="/signup" style="color:#00c6ff;">Signup</a>
        </p>

    </div>
</div>

</body>
</html>